---
import PdfLayout from "../layouts/PdfLayout.astro";
---

<PdfLayout title="Bla Bla Bla">
  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Amet cursus sit amet
      dictum sit amet justo donec. Mattis rhoncus urna neque viverra justo nec
      ultrices dui. Dignissim cras tincidunt lobortis feugiat vivamus.
      Adipiscing commodo elit at imperdiet. Quis commodo odio aenean sed
      adipiscing diam donec adipiscing tristique. Condimentum vitae sapien
      pellentesque habitant morbi tristique. Faucibus in ornare quam viverra
      orci sagittis eu volutpat odio. Sagittis id consectetur purus ut faucibus
      pulvinar elementum. Id consectetur purus ut faucibus. Fusce ut placerat
      orci nulla pellentesque.
    </p>
    <p>
      Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor.
      Amet commodo nulla facilisi nullam vehicula ipsum. Et ultrices neque
      ornare aenean euismod elementum nisi quis. Nibh sit amet commodo nulla
      facilisi. At urna condimentum mattis pellentesque id nibh tortor.
      Tristique senectus et netus et. Vestibulum sed arcu non odio euismod.
      Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse.
      Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis. Nunc scelerisque viverra mauris in aliquam. Malesuada
      proin libero nunc consequat. Leo in vitae turpis massa sed elementum
      tempus egestas.
    </p>
    <p>
      Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Amet
      commodo nulla facilisi nullam vehicula ipsum. Et ultrices neque ornare
      aenean euismod elementum nisi quis. Nibh sit amet commodo nulla facilisi.
      At urna condimentum mattis pellentesque id nibh tortor. Tristique senectus
      et netus et. Vestibulum sed arcu non odio euismod. Fermentum leo vel orci
      porta non pulvinar neque laoreet suspendisse. Vestibulum rhoncus est
      pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Nunc
      scelerisque viverra mauris in aliquam. Malesuada proin libero nunc
      consequat. Leo in vitae turpis massa sed elementum tempus egestas.
    </p>
    <p>
      Rutrum tellus pellentesque eu tincidunt tortor. Amet commodo nulla
      facilisi nullam vehicula ipsum. Et ultrices neque ornare aenean euismod
      elementum nisi quis. Nibh sit amet commodo nulla facilisi. At urna
      condimentum mattis pellentesque id nibh tortor. Tristique senectus et
      netus et. Vestibulum sed arcu non odio euismod. Fermentum leo vel orci
      porta non pulvinar neque laoreet suspendisse. Vestibulum rhoncus est
      pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Nunc
      scelerisque viverra mauris in aliquam. Malesuada proin libero nunc
      consequat. Leo in vitae turpis massa sed elementum tempus egestas.
    </p>
  </article>
</PdfLayout>
<style>
  article {
    margin: 2em;
    display: flex;
    flex-direction: column;
  }
</style>
